.meus-filmes {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meus-filmes h1 {
  margin-bottom: 14px;
}

.meus-filmes span {
  font-size: 18px;
}

.meus-filmes ul {
  width: 620px;
}

.meus-filmes ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.meus-filmes ul li button {
  cursor: pointer;
}

.meus-filmes div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meus-filmes div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a3063;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  height: 28px;
  width: 110px;
  border-radius: 8px;
  margin-right: 14px;
}

.meus-filmes button {
  font-size: 14px;
  border: none;
  background-color: #0a3063;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  height: 28px;
  width: 110px;
}
